{% extends 'base.html' %}
{% load static %}




{% block main %}
<!-- Main Heading Starts -->
                <div class="main-head">
                    <h2 data-scroll-reveal="enter left and move 50px over 1.8s">
                        Gratidão</h2>
                    <p data-scroll-reveal="enter right and move 50px over 2.0s">
                         {{ object.name }}, em breve receberá novidades!.</p>
                </div>
                <!-- Main Heading Ends -->
{% endblock %}

{% block countdown %}
{% endblock %}
